/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #171923;
  color: white;
}

/* Slick carousel custom styles */
.slick-dots {
  bottom: 15px;
}

.slick-dots li button:before {
  color: white;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

.slick-prev, .slick-next {
  z-index: 1;
}

.slick-prev {
  left: 15px;
}

.slick-next {
  right: 15px;
}

.slick-prev:before, .slick-next:before {
  font-size: 24px;
}